pkgbase = cromite
	pkgdesc = A Bromite fork with ad blocking and privacy enhancements
	pkgver = 137.0.7151.72
	pkgrel = 1
	url = https://github.com/uazo/cromite
	install = cromite.install
	arch = x86_64
	license = GPL3
	makedepends = python
	makedepends = gn
	makedepends = ninja
	makedepends = clang
	makedepends = lld
	makedepends = gperf
	makedepends = nodejs
	makedepends = pipewire
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = qt5-base
	makedepends = qt6-base
	makedepends = java-runtime-headless
	makedepends = git
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = xdg-utils
	depends = libxss
	depends = libcups
	depends = libgcrypt
	depends = ttf-liberation
	depends = systemd
	depends = dbus
	depends = libpulse
	depends = pciutils
	depends = libva
	depends = libffi
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = fontconfig
	depends = brotli
	depends = libjpeg-turbo
	depends = flac
	depends = libxml2
	depends = libwebp
	depends = minizip
	depends = opus
	depends = harfbuzz
	depends = libxslt
	depends = libpng
	depends = freetype2
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: support for native dialogs in Plasma
	optdepends = gtk4: for --gtk-version=4 (GTK4 IME might work better on Wayland)
	optdepends = org.freedesktop.secrets: password storage backend on GNOME / Xfce
	optdepends = kwallet: support for storing passwords in KWallet on Plasma
	optdepends = upower: Battery Status API support
	options = !lto
	source = https://commondatastorage.googleapis.com/chromium-browser-official/chromium-137.0.7151.72-lite.tar.xz
	source = https://github.com/foutrelis/chromium-launcher/archive/v8/chromium-launcher-8.tar.gz
	source = https://github.com/uazo/cromite/archive/bc5da626a17572828f2c6581eb89ad60f914b2a1.tar.gz
	source = https://dl.google.com/linux/deb/pool/main/g/google-chrome-stable/google-chrome-stable_137.0.7151.68-1_amd64.deb
	source = widevine-revision.patch
	source = disable-clang-fextend-variable-liveness.patch
	source = pdfium-fix-build-with-system-libpng.patch
	source = chromium-136-drop-nodejs-ver-check.patch
	source = compiler-rt-adjust-paths.patch
	source = increase-fortify-level.patch
	source = disable-clang-warning-suppression-flag.patch
	source = use-oauth2-client-switches-as-default.patch
	sha256sums = 1502ec0d39de352fa669ef1e0c0d86c267d1f0b0d96449b62d19fb3b53d41d50
	sha256sums = 213e50f48b67feb4441078d50b0fd431df34323be15be97c55302d3fdac4483a
	sha256sums = ba88a4219a28b95725a98992cc49b864b1c2220aa392a196bb70034ffc9146f3
	sha256sums = 4c127a5ce9f1acfffe1a7776637fda61b446e4df9bedd292feef3464ae04f8c3
	sha256sums = 87f0cb23f04f174f4700fe5aeb5651d2ec63590c00ce82bf7932b00aafd0d9b1
	sha256sums = 2d98a7a6a553fb5c17c4bfe36f011410f377afa12a6a818ba36543dc9a258f4a
	sha256sums = de3222b13d3a49628a00fd74acae633912b830f78c2de452d3bdff3d0e42026d
	sha256sums = 32f0080282fc0b2795a342bf17fcb3db4028c5d02619c7e304222230ba99d5fe
	sha256sums = ffa7412837c7b11616dc8ec89c4b4dbaa63adea3e31bdc8a01c46704315aa534
	sha256sums = d634d2ce1fc63da7ac41f432b1e84c59b7cceabf19d510848a7cff40c8025342
	sha256sums = d6f3914c6adadaf061e7e2b1430c96d32b0cad05244b5cfaf58cf5344006a169
	sha256sums = e6da901e4d0860058dc2f90c6bbcdc38a0cf4b0a69122000f62204f24fa7e374

pkgname = cromite
