pkgbase = cromite
	pkgdesc = A Bromite fork with ad blocking and privacy enhancements
	pkgver = 134.0.6998.89
	pkgrel = 1
	url = https://github.com/uazo/cromite
	install = cromite.install
	arch = x86_64
	license = GPL3
	makedepends = python
	makedepends = gn
	makedepends = ninja
	makedepends = clang
	makedepends = lld
	makedepends = gperf
	makedepends = nodejs
	makedepends = pipewire
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = qt5-base
	makedepends = qt6-base
	makedepends = java-runtime-headless
	makedepends = git
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = xdg-utils
	depends = libxss
	depends = libcups
	depends = libgcrypt
	depends = ttf-liberation
	depends = systemd
	depends = dbus
	depends = libpulse
	depends = pciutils
	depends = libva
	depends = libffi
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = fontconfig
	depends = brotli
	depends = libjpeg-turbo
	depends = flac
	depends = libxml2
	depends = libwebp
	depends = minizip
	depends = opus
	depends = harfbuzz
	depends = libxslt
	depends = libpng
	depends = freetype2
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: support for native dialogs in Plasma
	optdepends = gtk4: for --gtk-version=4 (GTK4 IME might work better on Wayland)
	optdepends = org.freedesktop.secrets: password storage backend on GNOME / Xfce
	optdepends = kwallet: support for storing passwords in KWallet on Plasma
	optdepends = upower: Battery Status API support
	options = !lto
	source = https://commondatastorage.googleapis.com/chromium-browser-official/chromium-134.0.6998.88-lite.tar.xz
	source = https://github.com/foutrelis/chromium-launcher/archive/v8/chromium-launcher-8.tar.gz
	source = https://github.com/uazo/cromite/archive/dd884d1d5afd250e4fbf8364b9082f2ef61197f9.tar.gz
	source = https://dl.google.com/linux/deb/pool/main/g/google-chrome-stable/google-chrome-stable_134.0.6998.88-1_amd64.deb
	source = widevine-revision.patch
	source = webrtc-fix-build-with-pipewire-1.4.patch
	source = skia-only-call-format_message-when-needed.patch
	source = compiler-rt-adjust-paths.patch
	source = increase-fortify-level.patch
	source = use-oauth2-client-switches-as-default.patch
	sha256sums = aa079fa2a8ff15f1a8528d67f5c310cd7da41d6c9e607a38d57b0e5a11169d59
	sha256sums = 213e50f48b67feb4441078d50b0fd431df34323be15be97c55302d3fdac4483a
	sha256sums = cfe888340b22c4211f5607880ff3923a6128a67301043e89333e50b081cabb2c
	sha256sums = df557edb3d24d8dcaff9557d80733b42afb6626685200d3f34a3b6f528065cad
	sha256sums = 87f0cb23f04f174f4700fe5aeb5651d2ec63590c00ce82bf7932b00aafd0d9b1
	sha256sums = 74a2d428f7f09132c4a923e816a5a9333803f842003d650cd4a95a35e5457253
	sha256sums = 271c7a767005b09e212808cfef7261dca00ea28ba7b808f69c3b5b9f202511d1
	sha256sums = b3de01b7df227478687d7517f61a777450dca765756002c80c4915f271e2d961
	sha256sums = d634d2ce1fc63da7ac41f432b1e84c59b7cceabf19d510848a7cff40c8025342
	sha256sums = e6da901e4d0860058dc2f90c6bbcdc38a0cf4b0a69122000f62204f24fa7e374

pkgname = cromite
